
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: hsl(258, 97%, 24%);
}
body{
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    margin-top: 100px;
    background: radial-gradient(#fff, hsl(209, 51%, 83%));
}
h1{
    font-size: 35px;
    margin-top: 15px;
}
h2{
    font-size: 20px;
    margin-top: 15px;
}
h3{
    font-size: 18px;
    margin-top: 15px;
}
.container{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "signIn signUp"
    ". signUp"
    "forgetPassword signUp"
    ". signUp";
    grid-template-columns: 1fr 1fr;
    grid-column: 50%;
    gap: 50px;
    padding: 30px 30px;
    text-transform: uppercase;
}
.container button{
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid hsl(258, 56%, 87%);
    padding: 20px 100px;
    background-color: #bcd7fc;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}
.container button:hover{
    border-color: 1px solid hsl(258, 64%, 81%);
    background: hsl(258, 64%, 81%);
    transition: 0.5s;
}
i{
    margin-right: 5px;
    color: rgb(37, 88, 219);
}

.signIn{
    width: 100%;
    grid-area: signIn;
    border-radius: 10px;
    padding: 15px;
}
.signIn:hover {
    border: 1px solid hsl(0, 0%, 100%);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
    transition: 0.5s;
}
.signIn input {
    margin: 10px 20px;
    padding: 10px 50px;
    text-align: left;
    width: 250px;
}
.signIn [type="password"] {
    padding: 10px 25px;
    font-size: 15px;
    width: 70%;
}
.signIn [type="text"] {
    padding: 10px 25px;
    width: 65%;
}

.forgetPassword{
    grid-area: forgetPassword;
    border-radius: 10px;
    padding: 15px;
}
.forgetPassword:hover {
    border: 1px solid hsl(0, 0%, 100%);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
    transition: 0.5s;
}
.forgetPassword input{
    margin:  10px;
    text-align: left;
    width: 90%;
}
.forgetPassword [type="email"]{
    padding: 10px 25px;
    font-size: 15px;
    width: 98%;
}

.signUp {
    grid-area: signUp;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}
.signUp:hover {
    border: 1px solid hsl(0, 0%, 100%);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
    transition: 0.5s;
}
.signUp input {
    margin: 10px;
    padding: 10px 50px;
}
.signUp label {
    margin-top: 15px;
}

.interacts, 
.message, 
.gender{
    margin-top: 50px;
}
.message textarea{
    width: 100%;
    padding: 10px 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-group [type="text"] {
    margin: 10px;
    padding: 10px 20px;
}
.input-group [type="password"] {
    margin: 10px;
    padding: 10px 20px;
}
/* Din befintliga CSS-kod här */

@media (max-width: 700px) {
    body {
      margin-left: 20px;
      margin-right: 20px;
    }
  
    .container {
      display: block;
      padding: 20px;
    }
  
    .container button {
      padding: 15px 70px;
      margin-top: 15px;
    }
    .forgetPassword, .signUp {
        margin-top: 70px;
    }

    .signIn input,
    .forgetPassword input,
    .signUp input,
    .message textarea,
    .input-group [type="text"],
    .input-group [type="password"] {
      width: 100%;
      padding: 10px 15px;
      margin: 5px 0;
    }
  
    h1 {
      font-size: 25px;
    }
  
    h2 {
      font-size: 18px;
    }
  
    h3 {
      font-size: 16px;
    }
  }
  
  
